body {
    background-image: url("../../sources/images/mainmenu-mobile.png");
}

@media (min-width: 768px) {
    body {
        background-image: url("../../sources/images/mainmenu-desktop.png");
    }
}

.foto-square {
    width: 50%;
}

.main-menu-font-color {
    color: #f5f5f5;
}

.custom-title-font {
    font-size: 5rem;
}

@media only screen and (max-width: 768px) {
    .custom-title-font {
        font-size: 2rem;
    }
}

.custom-button {
    color: #444444;
    background: none;
    border: none;
}

.custom-button:hover {
    color: #f5f5f5;
}

.custom-button-margin {
    margin-top: 15rem;
}

.custom-start-button-font {
    font-size: 1.5rem;
}

.popup {
    overflow: auto;
    background-color: gainsboro;
    box-sizing: border-box;
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
    text-align: center;
    border-radius: 20px;
}

#inputName {
    margin: auto;
}